<div class="container">
  <% chef = @chef_profile %>
  <div class="d-flex justify-content-center align-items-center">
    <h1><%= chef.user.first_name || chef.user.email.split('@')[0] %>'s Profile</h1>
  </div>
  <div class="d-flex justify-content-center align-items-center">
    <% if chef.user.photo.attached? %>
      <%= cl_image_tag(chef.user.photo.key, class: "rounded-circle", width: 200, height: 200) %>
    <% else %>
      <% initial = chef.user.first_name.nil? ? chef.user.email[0].upcase : chef.user.first_name[0].upcase; %>
      <%= cl_image_tag("https://dummyimage.com/200x200/fff/000&text=#{initial}",
      type: "fetch", class: "rounded-circle") %>
    <% end %>
  </div>
  <p><strong>Experience: </strong><%= chef.years_exp %> Years</p>
  <div class="d-flex justify-content-between">
    <p><strong>Your courses:</strong></p>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#createCourse">
      Create New Course
    </button>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="createCourse" tabindex="-1" aria-labelledby="createCourseLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createCourseLabel">Create New Course</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <%= simple_form_for [@chef_profile, @course] do |f| %>
          <div class="modal-body">
            <%= f.input :name %>
            <%= f.input :description %>
            <%= f.input :cuisine_type, collection: Course::CUISINES.map { |str| str.capitalize }, include_blank: false %>
            <%= f.input :duration, include_blank: false %>
            <%= f.input :price, include_blank: false %>
            <%= f.input :photo %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= f.submit class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <% chef.courses.each do |course| %>
    <%= link_to course_path(course) do %>
      <% header_image_tag = course.photo.attached? ? cl_image_tag(course.photo.key)
      : cl_image_tag("https://dummyimage.com/1000x500/fff/000&text=Sorry!%20No%20photo%20attached",type: "fetch") %>
      <% user_image_tag = course.chef_profile.user.photo.attached? ? cl_image_tag(course.chef_profile.user.photo.key, class: "card-trip-user avatar-bordered")
      : cl_image_tag("https://dummyimage.com/200x200/fff/000&text=#{initial}",type: "fetch", class: "card-trip-user avatar-bordered") %>
      <%= render 'shared/course-card', header_image_tag: header_image_tag, title: course.name,
      sub_title: course.cuisine_type, description: course.description, status: "¥#{number_with_delimiter(course.price)}",
      user_image_tag: user_image_tag %>
    <% end %>
  <% end %>
</div>
