<div class="card-trip card-trip-overflow mb-3 d-flex flex-column justify-content-between">
  <%= header_image_tag %>
  <%= link_to course_path(booking.course) do %>
    <div class="card-trip-infos">
      <div class="card-text-wrap text-truncate">
        <div class="d-flex flex-column justify-content-between h-100">
          <h2><%= title %></h2>
          <p class="text-capitalize"><em><%= sub_title %></em></p>
          <p><%= description %></p>
        </div>
      </div>
      <div class="w-100 text-right mt-1">
        <h2 class="card-trip-text-padding"><%= status %></h2>
      </div>
      <%= user_image_tag %>
    </div>
  <% end %>
  <div id="booking-respond-row" class="justify-content-end">
    <% if status == 'confirmed' %>
      <div class="mx-2 mb-2">
        <%= simple_form_for booking do |f| %>
          <%= f.input :status, as: :hidden, input_html: { value: 'completed'}, wrapper_html: { class: "py-0 my-0"} %>
          <%= f.submit "I'm happy :)", class: 'btn btn-success btn-sm w-100' %>
        <% end %>
      </div>
      <div class="mx-2 mb-2">
        <%= simple_form_for booking do |f| %>
          <%= f.input :status, as: :hidden, input_html: { value: 'completed'}, wrapper_html: { class: "py-0 my-0"} %>
          <%= f.submit 'Could be better :|', class: 'btn btn-warning btn-sm w-100' %>
        <% end %>
      </div>
      <div class="mx-2 mb-2">
        <%= simple_form_for booking do |f| %>
          <%= f.input :status, as: :hidden, input_html: { value: 'completed'}, wrapper_html: { class: "py-0 my-0"} %>
          <%= f.submit "I'm not impressed :(", class: 'btn btn-danger btn-sm w-100' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
