<div class="card-trip mb-3 d-flex flex-column justify-content-between" id="card-trip-flow">
  <%= header_avatar_tag %>
  <div class="card-trip-infos">
    <div class="card-text">
      <div class="d-flex flex-column justify-content-between h-100">
        <h2><%= title %></h2>
        <p class="text-capitalize"><strong><%= sub_title %></strong></p>
      </div>
    </div>
    <div class="w-100 text-right mt-1">
      <h2 class="card-trip-text-padding"><%= status %></h2>
    </div>
  </div>
  <div class="mb-0 pb-0 px-2">
    <h2>More by this chef</h2>
  </div>
  <div class="pt-0">
    <div class="carousel-4">
      <%= render 'shared/carousel-course', courses: @course.chef_profile.courses, card_count: 4 %>
    </div>
    <div class="carousel-2">
      <%= render 'shared/carousel-course', courses: @course.chef_profile.courses, card_count: 2 %>
    </div>
  </div>
</div>
