<div class="card-trip mb-3 d-flex flex-column justify-content-between">
  <% if booking.course.photo.attached? %>
    <%= cl_image_tag booking.course.photo.key %>
  <% else %>
    <%= cl_image_tag("https://source.unsplash.com/800x500/?food-'#{booking.course.name.split[-2]}'", :type=>"fetch") %>
  <% end %>
  <div class="card-trip-infos">
    <div class="card-text-wrap text-truncate">
      <h2><%=  booking.course.name %></h2>
      <p><%= "#{booking.date} / #{booking.time_slot}" %></p>
    </div>
    <% if booking.status == "awaiting confirmation" %>
      <div class="d-flex">
        <%= simple_form_for booking do |f| %>
          <%= f.input :status, as: :hidden, input_html: { value: 'confirmed'} %>
          <%= f.submit 'Confirm', class: 'btn btn-success btn-sm mx-2' %>
        <% end %>
        <%= simple_form_for booking do |f| %>
          <%= f.input :status, as: :hidden, input_html: { value: 'declined'} %>
          <%= f.submit 'Decline', class: 'btn btn-danger btn-sm' %>
        <% end %>
      </div>
    <% else %>
      <h2 class="card-trip-text-padding"><%= booking.status %></h2>
    <% end %>
    <%= cl_image_tag("https://source.unsplash.com/100x100/?face-'#{booking.chef_profile.user_id}'", :type=>"fetch", class: "card-trip-user avatar-bordered") %>
  </div>
</div>
