<div class="card-trip mb-3 d-flex flex-column justify-content-between">
  <%= header_image_tag %>
  <div class="card-trip-infos">
    <div class="card-text-wrap text-truncate">
      <h2><%= title %></h2>
      <p class="text-capitalize"><em><%= sub_title %></em></p>
      <p><%= description %></p>
    </div>
    <h2 class="card-trip-text-padding"><%= status %></h2>
    <%= cl_image_tag(user_image_url, :type=>"fetch", class: "card-trip-user avatar-bordered") %>
  </div>
</div>
