<div class="card-trip mb-3 d-flex flex-column justify-content-between" id="card-trip-flow">
  <img src="https://source.unsplash.com/800x500/?food-<%= @title.split[0] %>" />
  <div class="card-trip-infos">
    <div class="card-text">
      <h2><%= @title %></h2>
      <h4 class="text-capitalize"><%= @cuisine_type %></h3>
      <p><%= @description %></p>
    </div>
    <h2 class="card-trip-text-padding"><%= @price %></h2>
    <img src="https://source.unsplash.com/100x100/?face-<%= rand(100) %>" class="card-trip-user avatar-bordered" />
  </div>
</div>
