<div class="container">
  <div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <h1><%= @course.name %></h1>
  <% initial = @course.chef_profile.user.first_name.nil? ? @course.chef_profile.user.email[0].upcase : @course.chef_profile.user.first_name[0].upcase; %>
  <% header_image_tag = @course.photo.attached? ? cl_image_tag(@course.photo.key)
      : cl_image_tag("https://dummyimage.com/1000x500/fff/000&text=Sorry!%20No%20photo%20attached",type: "fetch") %>
  <% user_image_tag = @course.chef_profile.user.photo.attached? ? cl_image_tag(@course.chef_profile.user.photo.key, class: "card-trip-user avatar-bordered")
      : cl_image_tag("https://dummyimage.com/200x200/fff/000&text=#{initial}",type: "fetch", class: "card-trip-user avatar-bordered") %>
  <%= render 'shared/fullpage-card', title: @course.name, status: "¥#{number_with_delimiter(@course.price)}", 
      description: @course.description, sub_title: @course.cuisine_type,
      header_image_tag: header_image_tag,
      user_image_tag: user_image_tag %>
  <% if current_user != @course.chef_profile.user %>
    <h2>Book this course</h2>
    <%= render 'bookings/form' %>
  <% else %>
    <div class="disabled p-3">
      <h2>This is your own course</h2>
      <%= render 'bookings/form' %>
    </div>
  <% end %>
  <h2 class="mt-3">Brought to you by...</h2>
  <% chef_name = @course.chef_profile.user.first_name || @course.chef_profile.user.email.split('@')[0] %>
  <% header_avatar_tag = @course.chef_profile.user.photo.attached? ? cl_image_tag(@course.chef_profile.user.photo.key, gravity: :face)
      : cl_image_tag("https://dummyimage.com/1000x500/fff/000&text=#{initial}",type: "fetch") %>
  <%= render 'shared/chef-information-card', title: chef_name, status: @course.chef_profile.user.city, 
      sub_title: "#{@course.chef_profile.years_exp} years of experience",
      header_avatar_tag: header_avatar_tag %>
</div>
